@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
/* font-family: 'Jost', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Teko', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Teko", sans-serif;
  background-color: white;
  /* background-color: rgb(34, 34, 34); */
  color: black;
}

.custom-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 8vh;
  max-width: none;
  padding: 0;
  /* border-bottom: 3px solid black; */
  /* margin-bottom: 5vh; */
}

.header-icon img {
  /* display: inline-block; */
  height: auto;
  width: 3.5vw;
  margin-top: 3vh;
  margin-left: 2vw;
  /* box-shadow: 0 2px 0 rgba(39, 197, 237, 0.2); */
}

.nav-item {
  text-decoration: none;
  font-size: 2vw;
  margin-left: 3vw;
  padding: 0.5rem 1rem;
  color: black;
  /* color: rgb(39, 197, 237); */
}

.nav-item:active {
  text-decoration: none;
}

.nav-item:hover {
  text-shadow: 0 0 20px rgba(15, 176, 216, 0.8);
}

li {
  list-style: none;
}

.theLinks {
  text-decoration: none;
}

@media (max-width: 800px) {
  .header-icon img {
    display: none;
  }
}

/*Home page*/

.HomeWrap {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  min-height: 100vh;
}

.contentWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 999;
  background: none;
}

.contentWrapper h1 {
  background: none;
  font-size: 4rem;
  color: black;
  font-family: "Pacifico", cursive;
}

.contentWrapper p {
  background: none;
  font-size: 2.5rem;
  color: black;
  font-family: "Pacifico", cursive;
}

.heroImage {
  width: 60vw;
  height: auto;
}

@media (max-width: 900px) {
  .HomeWrap {
    display: flex;
    align-items: flex-start;
    justify-content: top;
    position: relative;
  }
  .contentWrapper {
    align-items: flex-start;
    top: 20%;
    left: 50%;
  }
  .heroImage {
    display: none;
  }
  .contentWrapper h1 {
    font-size: 2rem;
  }
  .contentWrapper p {
    font-size: 1rem;
  }
}

/*Portfolio*/

.heroPortfolio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.portfolioImage {
  width: 300px;
  height: auto;
  /* margin-left: -74vw;
  margin-top: -15vh; */
}

.contentImage {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 8vw;
}

.contentImage img {
  margin-left: 2vw;
  width: 100px;
  height: auto;
  transform: rotate(110deg) scaleY(-1);
  margin-top: 15vh;
  /* filter: hue-rotate(20deg); */
}

@media (max-width: 600px) {
  .contentImage img {
    margin-top: 0;
  }
}

/*Portfolio Cards*/

h2.card-title {
  color: rgb(39, 197, 237);
}

.card {
  /* box-shadow: 0 0 5px rgba(39, 197, 237, 0.5); */
  transition: box-shadow 0.3s ease-in-out;
  z-index: 2;
}

.card:hover {
  box-shadow: 0 0 10px rgba(66, 66, 66, 0.8), 0 0 50px rgba(18, 18, 18, 0.4);
  transform: scale(1.1) rotate(-8deg);
  transition: box-shadow 0.3s, transform 0.3s;
}

.card-img-top {
  max-height: 200px;
  border-radius: 0 !important;
}

.allitems {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.portfolioitem {
  background-color: rgb(194, 178, 178);
}

.custom-card-container .custom-card {
  border: 3px solid rgb(23, 64, 71);
  border-radius: 3px;
}

.top-content {
  margin-bottom: 15vh;
  margin-top: 5vh;
}

.custom-content {
  font-size: 3rem;
  margin-top: 4vh;
}

/*Portfolio item page*/

.containerItem {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  text-align: center;
  margin-top: 10vh;
  min-height: 100vh;
}

.itemTitle {
  margin-bottom: 20px;
}

.itemWrapper {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
}

.itemText {
  font-size: 1.5rem;
  margin-top: 20px;
  max-width: 40vw;
}

.itemImage {
  width: 40vw;
  height: auto;
  max-width: 100%;
  margin-right: 10vw;
}

@media (max-width: 800px) {
  .itemWrapper {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .itemText {
    width: 100%;
    max-width: 98%;
  }
  .itemImage {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }
}

/*404 page*/
.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.stickyWrapper {
  position: relative;
  text-align: center;
}

.stickyText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5em;
  background: none;
}

.stickyNote {
  max-width: 400px;
  height: auto;
}

/*ContactForm Styling*/

.theForm {
  display: flex;
  flex-direction: column;
  background: none;
  position: relative;
}

.theForm label {
  background: none;
  padding: 10px;
  font-size: 1.2rem;
}

.theForm label input,
.theForm label textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px dotted black;
  background: none;
}

.theForm label textarea {
  min-height: 100px;
  border: dotted;
}

@media screen and (max-width: 600px) {
  .theForm label {
    padding: 4px;
  }

  .theForm label input,
  .theForm label textarea {
    padding: 2px;
    margin-bottom: 4px;
  }

  .theForm label textarea {
    min-height: 40px;
  }
}

/*Contact page*/

.contact-template {
  position: relative;
  max-width: 800px;
  margin: 10vh auto;
  padding: 20px;
  min-height: 100vh;
}

.contact-header {
  margin-bottom: 10px;
}

.contact-content {
  margin-bottom: 10px;
}

.contact-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: none;
  background-color: none;
}

.contact-image {
  max-width: 100%;
}

@media screen and (max-width: 600px) {
  .contact-template {
    max-width: 90%;
    margin-top: 5vh;
  }

  .contact-form {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    left: 30%;
    z-index: 1;
  }

  .contact-image {
    display: none;
  }
}

/*Footer*/

.custom-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: white;
  /* background-color: rgb(34, 34, 34); */
}

/*Buttons*/

.theButton {
  background-color: #3dd1e7;
  border: 0 solid #e5e7eb;
  color: #000000;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  margin-top: 4vh;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 200px;
  cursor: pointer;
  transform: rotate(-4deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.theButton:focus {
  outline: 0;
}

.theButton:hover {
  transform: scale(1.1) rotate(-8deg);
}

.theButton:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.theButton:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .theButton {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}

.theNavButton {
  background-color: #3dd1e7;
  border: 0 solid #e5e7eb;
  color: #000000;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  margin-top: 4vh;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 200px;
  cursor: pointer;
  transform: rotate(-4deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.theNavButton:focus {
  outline: 0;
}

.theNavButton:hover {
  transform: scale(1.1) rotate(-8deg);
}

.theNavButton:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.theNavButton:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .theNavButton {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}

@media (max-width: 600px) {
  .theNavButton {
    font-size: 0.8rem;
    padding: 0;
    margin-top: 0;
  }
}
